body *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Bahnschrift;
}
a {
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}
body{
    display:  flex;
    flex-wrap: wrap;
}
header{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 1%;
    padding-bottom: 3%;
}
.logo{
    flex-basis: 25%;
    display: flex;
    justify-content: center;
}
.logo>figure{
    flex-basis: 15%;
}
header>a{
    flex-basis: 50%;
    text-align: center;
}
header>section{
    flex-basis: 25%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header input{
    flex-basis: 70%;
    height: 70%;
}
.searchbar>a{
    flex-basis: 10%;
}
img{
    width: 100%;
}
nav{
    flex-basis: 100%;
}
header>nav{
     margin-top: 4%;
}
ul{
    list-style: none;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
li{
    flex-basis: 33%;
}
nav a{
    padding: 4%;
    padding-left: 12%;
    padding-right: 12%;
}
header>nav a{
    font-size: 24px;
}
header>nav a:hover{
    color: black;
    border: 1px solid  black;
    text-decoration: none;
    box-shadow: 2px 6px 6px 0px rgba(0,0,0,0.75);
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^*/
main{
    border-top: 3px solid black;
    padding-top: 2%;
    flex-basis: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
}
main h1{
    flex-basis: 100%;
    margin-bottom: 2%;
}
article{
    flex-basis: 33%;
    margin-bottom: 2%;
}
main ul{
    display: block;
}
p, main li{
    font-size: 18px;
}
p:nth-child(odd){
    font-weight: bold;
    font-size: 24px;
}
h2{
    flex-basis: 100%;
    margin-bottom: 2%;
}
form{
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
select{
    flex-basis: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
}
section{
    flex-basis: 40%;
}
.email{
    width: 56%;
}
.text{
    flex-basis: 40%;
}
.potwierdzenia{
    margin-top: 2%;
    flex-basis: 100%;
    margin-bottom: 2%;
}
button{
    margin-left: 10%;
    width: 8%;
}
/*^^^^^^^^^^^^^^^^^^^^^^^^^^*/
footer{
    border-top: 3px solid black;
    flex-basis: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding-top: 2%;
    margin-bottom: 3%;
}
h3{
    flex-basis: 100%;
}
footer>nav{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
footer label{
    flex-basis: 33%;
}
footer ul{
    flex-basis: 100%;
}
footer li{
    flex-basis: 100%;
    display: flex;
    justify-content: center;
}
footer a{
    margin: 1px;
}
footer a:hover{
    margin: 0px;
    color: black;
    border: 1px solid  black;
    text-decoration: none;
    box-shadow: 2px 6px 6px 0px rgba(0,0,0,0.75);
}
.containerSocial{
    align-items: center;
}
footer input{
    display: none;
}
label>p{
    display: none;
}

@media (max-width: 600px){
    .logo{
        display: none;
    }
    header input{
        display: none;
    }
    header{
        justify-content: space-between;
    }
    nav li{
        flex-basis: 100%;
        padding: 4%;
    }
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    article{
        flex-basis: 100%;
    }
    form > * {
        flex-basis: 100%;
    }
    .email{
        width: 75%;
    }
    .text{
        flex-basis: 80%;
        height: 150px;
    }
    .plcie{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .plcie>label{
        flex-basis: 33%;
    }
    .plcie>legend{
        flex-basis: 100%;
    }
    /*^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    footer label{
        flex-basis: 100%;
    }
    label>ul{
        display: none;
    }
    label>p{
        display: block;
        font-size: 20px;
        font-weight: bold;
        padding: 2%;
    }
    #scrollDown1:checked + label>ul{
        display: block;
    }
    footer ul>li{
        padding: 0;
    }
    #scrollDown2:checked + label>ul{
        display: block;
    }
    #scrollDown3:checked + label>ul{
        display: block;
    }
}